In [1]:
print ("hello world")

hello world

In [3]:
my_string = 'hello'
my_int = 15

print(my_string)
print(my_int)

hello
15

In [4]:
my_string

'hello'

In [5]:
my_string
my_int

15

In [6]:
numberOfApples =5
if numberOfApples < 1:
    print("you have no apples")
elif numberOfApples ==1:
    print("you have one apple")
elif numberOfApples < 4 :
    print("you have a few apples")
else:
    print("you have meny apples")

you have meny apples

In [8]:
student_names = ['mahmoud','sadek','ali','taha']
student_names[1]

'sadek'

In [9]:
student_names[0]

'mahmoud'

In [10]:
student_names[-1]

'taha'

In [11]:
student_names[0:2]

['mahmoud', 'sadek']

In [12]:
student_names[1:3]

['sadek', 'ali']

In [13]:
student_names[:2]

['mahmoud', 'sadek']

In [14]:
student_names[2:]

['ali', 'taha']

In [15]:
student_names.append("mohamed")

In [16]:
student_names

['mahmoud', 'sadek', 'ali', 'taha', 'mohamed']

In [17]:
student_names.insert(2,"ibrahim")
student_names

['mahmoud', 'sadek', 'ibrahim', 'ali', 'taha', 'mohamed']

In [18]:
del student_names[2]
student_names

['mahmoud', 'sadek', 'ali', 'taha', 'mohamed']

In [19]:
student_names.append('badr')
student_names.append('badr')
student_names

['mahmoud', 'sadek', 'ali', 'taha', 'mohamed', 'badr', 'badr']

In [20]:
for st_name in student_names:
    print('hello '+st_name+" !")

hello mahmoud !
hello sadek !
hello ali !
hello taha !
hello mohamed !
hello badr !
hello badr !

In [22]:
long_names = []
for st_name in student_names:
        if len(st_name) > 4:
            long_names.append(st_name)
long_names

['mahmoud', 'sadek', 'mohamed']

In [24]:
std_pairs = []
for std_name_1 in student_names:
    for std_name_2 in student_names:
        std_pairs.append((std_name_1,std_name_2))
std_pairs

[('mahmoud', 'mahmoud'),
 ('mahmoud', 'sadek'),
 ('mahmoud', 'ali'),
 ('mahmoud', 'taha'),
 ('mahmoud', 'mohamed'),
 ('mahmoud', 'badr'),
 ('mahmoud', 'badr'),
 ('sadek', 'mahmoud'),
 ('sadek', 'sadek'),
 ('sadek', 'ali'),
 ('sadek', 'taha'),
 ('sadek', 'mohamed'),
 ('sadek', 'badr'),
 ('sadek', 'badr'),
 ('ali', 'mahmoud'),
 ('ali', 'sadek'),
 ('ali', 'ali'),
 ('ali', 'taha'),
 ('ali', 'mohamed'),
 ('ali', 'badr'),
 ('ali', 'badr'),
 ('taha', 'mahmoud'),
 ('taha', 'sadek'),
 ('taha', 'ali'),
 ('taha', 'taha'),
 ('taha', 'mohamed'),
 ('taha', 'badr'),
 ('taha', 'badr'),
 ('mohamed', 'mahmoud'),
 ('mohamed', 'sadek'),
 ('mohamed', 'ali'),
 ('mohamed', 'taha'),
 ('mohamed', 'mohamed'),
 ('mohamed', 'badr'),
 ('mohamed', 'badr'),
 ('badr', 'mahmoud'),
 ('badr', 'sadek'),
 ('badr', 'ali'),
 ('badr', 'taha'),
 ('badr', 'mohamed'),
 ('badr', 'badr'),
 ('badr', 'badr'),
 ('badr', 'mahmoud'),
 ('badr', 'sadek'),
 ('badr', 'ali'),
 ('badr', 'taha'),
 ('badr', 'mohamed'),
 ('badr', 'badr'),
 ('badr', 'badr')]

In [25]:
std_pairs[0]

('mahmoud', 'mahmoud')

In [26]:
student_names = ['mahmoud','sadek','ali','taha']
std_pairs = []
for std_name_1 in student_names:
    for std_name_2 in student_names:
        if std_name_1 != std_name_2:
            std_pairs.append((std_name_1,std_name_2))
std_pairs

[('mahmoud', 'sadek'),
 ('mahmoud', 'ali'),
 ('mahmoud', 'taha'),
 ('sadek', 'mahmoud'),
 ('sadek', 'ali'),
 ('sadek', 'taha'),
 ('ali', 'mahmoud'),
 ('ali', 'sadek'),
 ('ali', 'taha'),
 ('taha', 'mahmoud'),
 ('taha', 'sadek'),
 ('taha', 'ali')]

In [27]:
std_grade = ('sadek','Social','A+')
std_grade

('sadek', 'Social', 'A+')

In [28]:
std_grade[0]

'sadek'

In [29]:
std_grade.append('something')

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
del std_grade[2]

TypeError: 'tuple' object doesn't support item deletion

In [31]:
del std_grade[2] = 'something'

SyntaxError: invalid syntax (Temp/ipykernel_14432/1714076825.py, line 1)

In [32]:
std_grade = ('sadek','Social','A+')
std_name, subject, grade = std_grade

print(std_name)
print(subject)
print(grade)

sadek
Social
A+

In [33]:
std_grades = [
    ('sadek', 'Social', 'A+'),
    ('Mahmoud', 'IS Security', 'C+'),
    ('Tahe', 'Big Data', 'B+'),
    ('Ahmed', 'Gis', 'A-'),
]

for student_name, subject, grade in std_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
              'on getting an', grade,
              'in', subject)

Congratulations sadek on getting an A+ in Social
Congratulations Ahmed on getting an A- in Gis

In [34]:
for std_grade in std_grades:
    if std_grade[2].startswith('A'):
        print('Congratulations', std_grade[0],
              'on getting an', std_grade[2],
              'in', std_grade[1])

Congratulations sadek on getting an A+ in Social
Congratulations Ahmed on getting an A- in Gis

In [35]:
foreign_languages = {
    'Sadek' : 'Italian',
    'Mohamed' : 'English',
    'Tahe' : 'Spanish',
    'Ali' : 'English',
}

In [36]:
foreign_languages['Sadek']

'Italian'

In [37]:
foreign_languages['Ali']

'English'

In [38]:
foreign_languages['Ahmed']

KeyError: 'Ahmed'

In [39]:
'Ahmed' in foreign_languages

False

In [40]:
'Taha' in foreign_languages

False

In [41]:
'Sadek' in foreign_languages

True

In [42]:
foreign_languages['Ahemd'] = 'French'

In [43]:
foreign_languages

{'Sadek': 'Italian',
 'Mohamed': 'English',
 'Tahe': 'Spanish',
 'Ali': 'English',
 'Ahemd': 'French'}

In [44]:
del foreign_languages['Tahe']
foreign_languages

{'Sadek': 'Italian', 'Mohamed': 'English', 'Ali': 'English', 'Ahemd': 'French'}

In [45]:
foreign_languages['Ahemd'] = 'Italian'
foreign_languages

{'Sadek': 'Italian',
 'Mohamed': 'English',
 'Ali': 'English',
 'Ahemd': 'Italian'}

In [46]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

Sadek is taking Italian
Mohamed is taking English
Ali is taking English
Ahemd is taking Italian

In [47]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

Sadek is taking Italian
Mohamed is taking English
Ali is taking English
Ahemd is taking Italian

In [48]:
std_grade = ('Sadek','English','A')

In [51]:
std_name, subject, grade = std_grades[0]
print(student_name, 'got a grade of', grade, 'in', subject)

Ahmed got a grade of A+ in Social

In [52]:
record = {
    'name': 'Sadek',
    'subject': 'Spanish',
    'grade': 'A+',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Sadek got a grade of A+ in Spanish

In [53]:
std_grades = [
    ('sadek','spanish','A'),
    ('ali','French','C'),
    ('Ahemd','italian','B'),
    ('mahmoud','italian','A+')
]

In [55]:
std_grades[1]

('ali', 'French', 'C')

In [56]:
std_grades[1][2]

'C'

In [57]:
std_grade_records = []
for student_name, subject, grade in std_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    std_grade_records.append(record)
    
std_grade_records

[{'name': 'sadek', 'subject': 'spanish', 'grade': 'A'},
 {'name': 'ali', 'subject': 'French', 'grade': 'C'},
 {'name': 'Ahemd', 'subject': 'italian', 'grade': 'B'},
 {'name': 'mahmoud', 'subject': 'italian', 'grade': 'A+'}]

In [59]:
std_grade_records[1]

{'name': 'ali', 'subject': 'French', 'grade': 'C'}

In [60]:
std_grade_records[1]['grade']

'C'

In [61]:
for record in std_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'], 
              'on getting an', record['grade'], 
              'in', record['subject'])

Congratulations sadek on getting an A in spanish
Congratulations mahmoud on getting an A+ in italian

In [65]:
foreign_language_grades = {}
for std_name, subject, grade in std_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[std_name] = record
    
foreign_language_grades

{'sadek': {'subject': 'spanish', 'grade': 'A'},
 'ali': {'subject': 'French', 'grade': 'C'},
 'Ahemd': {'subject': 'italian', 'grade': 'B'},
 'mahmoud': {'subject': 'italian', 'grade': 'A+'}}

In [66]:
foreign_language_grades['sadek']

{'subject': 'spanish', 'grade': 'A'}

In [67]:
foreign_language_grades['sadek']['grade']

'A'

In [68]:
student_course_grades = {}
for std_name, subject, grade in std_grades:
    student_course_grades[std_name, subject] = grade
    
student_course_grades

{('sadek', 'spanish'): 'A',
 ('ali', 'French'): 'C',
 ('Ahemd', 'italian'): 'B',
 ('mahmoud', 'italian'): 'A+'}

In [69]:
student_course_grades['sadek', 'Math'] = 'A'
student_course_grades['sadek', 'History'] = 'B'

In [70]:
student_course_grades

{('sadek', 'spanish'): 'A',
 ('ali', 'French'): 'C',
 ('Ahemd', 'italian'): 'B',
 ('mahmoud', 'italian'): 'A+',
 ('sadek', 'Math'): 'A',
 ('sadek', 'History'): 'B'}

In [71]:
std_report_cards = {}
for std_name, subject, grade in std_grades:
    if std_name not in std_report_cards:
        std_report_cards[std_name] = {}
    std_report_cards[std_name][subject] = grade

In [72]:
std_report_cards

{'sadek': {'spanish': 'A'},
 'ali': {'French': 'C'},
 'Ahemd': {'italian': 'B'},
 'mahmoud': {'italian': 'A+'}}

In [74]:
std_report_cards['sadek']['math'] = 'A'
std_report_cards['sadek']['history'] = 'B'

In [75]:
std_report_cards

{'sadek': {'spanish': 'A', 'math': 'A', 'history': 'B'},
 'ali': {'French': 'C'},
 'Ahemd': {'italian': 'B'},
 'mahmoud': {'italian': 'A+'}}

In [76]:
std_report_cards['sadek']

{'spanish': 'A', 'math': 'A', 'history': 'B'}